
<app-ruta-menu> </app-ruta-menu>

<div class="col-md-4" *ngFor="let blog of blogs">
    <div class="card text-center">
      <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
        {{blog.titulo}}
        <button class="btn btn-danger" >
          <i class="far fa-trash-alt"></i>
        </button>
      </div>
      <img class="card-img-top" [src]="blog.imagen">
      <div class="card-body">
        <p>{{blog.contenido}}</p>
        <!-- <p>Created At {{game.created_at | date: 'yyyy-MM-dd'}}</p> -->
        <a routerLink= '*' class="btn btn-info btn-block">
          EDIT GAME
        </a>
      </div>
    </div>
  </div>



