<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>

<div class="login-box">
  <h1>Crea un nuevo post</h1>

  <h2>
    <!-- TITULO INPUT -->
    <label for="tittle">Titulo</label>
    <input type="text" placeholder="Enter title">

    <img src="https://i.blogs.es/36938e/istock-840527124/450_1000.jpg" class="img-fluid" alt="Responsive image">
  </h2>

  <!-- DESCRIPCION INPUT -->
  <label for="description">Descripcion</label>
  <input type="Descripcion" placeholder="Enter description">
  <!-- PUNTUACION INPUT -->
  <label for="Puntuacion">Puntuacion</label>
  <input type="Puntuacion" placeholder="Enter Puntuacion">


  <button (click)="saveBlog()">
    Guardar
  </button>

  <a routerLink="/mostrarBlog">
    <input type="submit" value="Sign in">
  </a>

</div>
<ul>
  <li *ngFor= "let blog of blogs">
    {{blog}}
  </li>
</ul>

</body>
</html>


