<div class = "col-md-12">
    <app-ruta-menu> </app-ruta-menu ><br><br>
</div>

<div class="col-md-4 offset-md-2">
    <div class="card">
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <input type="text" name="title" [(ngModel)]="blog.titulo" placeholder="Title" class="form-control" autofocus>
          </div>
          <div class="form-group">
              <input type="number" name="score" [(ngModel)]="blog.puntuacion" class="form-control" min="0" max="5"  >
            </div>
          <div class="form-group">
            <textarea name="description"  [(ngModel)]="blog.contenido" rows="2" placeholder="Description" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <input type="url" name="image URL" [(ngModel)]="blog.imagen" placeholder="Image" class="form-control">
          </div>
          <button class="btn btn-success btn-block" (click)="saveNewBlog()">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4">
      <div class="card card-body text-center">
      <img [src]="blog.imagen == '' ? '/assets/Img/notfound.png' : blog.imagen" alt="No Image" class="card-img-top">
        <h3>{{blog.titulo == '' ? 'Name title' : blog.titulo}}</h3>
        <p>{{blog.contenido == '' ? 'Write your Descrition' : blog.contenido}}</p>
        <!-- <p>{{game.created_at | date: 'yyyy-MM-dd'}}</p> -->
      </div>
    </div>